<article>
  <%= link_to product_path(product) do %>
    <%= image_tag product.image.thumb.url , alt: product.name %>
    <h1>
      <span><%= product.name %></span>
      <span>$<%= product.price_cents %></span>
    </h1>
  <% end%>
  <div>
    <% if product.quantity == 0 %>

      <button type="button" class="soldout">Sold Out</button>
      <button type="button" class="btn" disabled><%= fa_icon "shopping-cart", text: 'Add' %></button>
   
    <% else %>

      
      <button type="button" class="btn" ><%= fa_icon "shopping-cart", text: 'Add' %></button>
    
    <% end %>
  </div>
</article>
